*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/.idea/misc.xml

# Modules
contracts/build
core/build
feature-core/build
feature-dashboard/build
feature-inventory/build
feature-orders/build
feature-wallet/build
shared-ui/build
wire/build
